{% layout 'layout.liquid'%}
{% block content %}
<a href="/" class="btn btn-primary">Back to random facts!</a>
{% for entries in journals %}
        <form action="/journals/{{ entries.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {% if entries.owner == userId %}
<div class="btn-group">
    <form action="/journals/edit/{{ entries.id }}" method="POST">
        <fieldset>
            <label>
                Fave Fact: {{ factoid.id }}
                JOURNAL ENTRY: <input 
                type="text"
                name="name"
                placeholder="Insert Journal Entry Here"
                value="{{ journal }}">
            </label>
        </fieldset>
        <input type="submit" value="Journal" class="btn btn-primary">
    </form>
</div>
</div> 
        {% endif %}
{% endfor %}   
{% endblock %}