{% layout 'layout.liquid'%}
{% block content %}
{% for factoid in facts %}
<div class="container">
    <p>{{ factoid.fact }}</p>
    <p>{{ factoid.owner.username }}</p>
    <!-- just want to see ANYTHING POPULATE AT THIS POINT -->
</div> 
{% endfor %}   
{% endblock %}