{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">

    <form action="/journals/{{ journals.id }}?_method=PUT" method="POST">
        <fieldset>
            <label>JOURNAL ENTRY:</label> 
                <input 
                type="text"
                name="journal"
                placeholder="Edit Journal Entry Here"
                value="{{ journal.journal }}"
                >
        </fieldset>
        <input type="submit"  class="btn btn-success" value="Edit Journal">
    </form>
</div>
{% endblock %}